// -----------------------------------------------------------------------------
// Basic typography style for copy text.
// -----------------------------------------------------------------------------
@use 'sass:math';
@use '../abstracts/variables' as *;
@use '../abstracts/responsive' as *;
@use '../abstracts/mixins' as *;

.size {
  @each $level, $size in $text-sizes-xl-array {
    &-#{$level} {
      $mobile-size: map-get($text-sizes-mobile-array, $level);
      $vw-size: math.div(map-get($text-sizes-xl-array, $level) * 100, 1920);

      font-size: clamp(#{$mobile-size}px, #{$vw-size}vw, #{$size}px);
    }
  }
}

.chevron-size {
  @each $level, $size in $chevron-size-array {
    &-#{$level} {
      width: #{$size}px;
      min-width: #{$size}px;
      height: #{$size}px;
    }
  }
}

/*
Class utilisé pour ajouter un layout en flex au conteneur de 2 span pour gérer précisément les retours à la ligne autrement que via <br />
quiz-flex-text-sm > flex column à partir du viewport width en sm
quiz-flex-text-max-sm > idem mais jusqu'à la taille du viewport en sm
*/
.quiz-flex-text {
  @each $breakpoint, $width in $grid-breakpoints {
    &-#{$breakpoint} {
      @include media-breakpoint-up($breakpoint) {
        display: flex;
        flex-direction: column;
      }
    }
    &-max-#{$breakpoint} {
      @include media-breakpoint-down($breakpoint) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

/*** DCI CUSTOM TITLES ***/
.quiz-title-xl {
  margin-top: 0;
  margin-bottom: $quiz-title-xl-mb;
  padding-top: 0;
  color: $quiz-dark-blue;
  font-family: $font-family-title;

  @include font-text(1, $fw-normal, 1.2);

  &.--italic {
    font-style: italic;
  }

  &.--bold {
    @include font-text(1, $fw-bold, 1.2);
  }

  &.--justify {
    text-align: justify;
    hyphens: auto;
  }

  &.--uppercase {
    text-transform: uppercase;
  }
}

// Spécific spacing for quiz-title-xl by sections
@each $class, $value in $quiz-title-xl-mb-arr {
  .main {
    &__#{$class} {
      .quiz-title-xl {
        margin-bottom: #{$value};
      }
    }
  }
}

.quiz-title-lg {
  margin-top: 0;
  margin-bottom: $quiz-title-xl-mb;
  padding-top: 0;
  color: $quiz-dark-blue;
  font-family: $font-family-title;

  @include font-text(2, $fw-normal, 1.2);

  &.--italic {
    font-style: italic;
  }

  &.--bold {
    @include font-text(2, $fw-bold, 1.2);
  }

  &.--justify {
    text-align: justify;
    hyphens: auto;
  }

  &.--uppercase {
    text-transform: uppercase;
  }
}

@include media-breakpoint-down(lg) {
  .main {
    .quiz-title-xl {
      margin-top: $max-lg-quiz-title-xl-mt-intro;
    }
  }
  .legal, .confidentiality {
    .quiz-title-lg {
      margin-top: $max-lg-quiz-title-lg-mt-legal;
    }
  }
}

@include media-breakpoint-up(lg) {
  .legal,  .confidentiality {
    .quiz-title-lg {
      margin-top: $lg-quiz-title-lg-mt-legal;
    }
  }
}



.quiz-title-md {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  color: $quiz-dark-blue;
  font-family: $font-family-text;

  @include font-text(3, $fw-bold, calc(30/37));

  &.--italic {
    font-style: italic;
  }

  &.--semibold {
    @include font-text(5, $fw-semibold,  calc(30/37));
  }

  &.--justify {
    text-align: justify;
    hyphens: auto;
  }

  &.--uppercase {
    text-transform: uppercase;
  }
}

.quiz-title-sm {
  margin-top: 0;
  padding-top: 0;
  color: $quiz-dark-blue;
  font-family: $font-family-text;

  @include font-text(5, $fw-semibold, 0.9);

  &.--italic {
    font-style: italic;
  }

  &.--bold {
    @include font-text(5, $fw-bold, 0.9);
  }

  &.--justify {
    text-align: justify;
    hyphens: auto;
  }

  &.--uppercase {
    text-transform: uppercase;
  }
}

.quiz-title-xs {
  margin-top: 0;
  padding-top: 0;
  color: $quiz-dark-black;
  font-family: $font-family-text;

  @include font-text(6, $fw-semibold, 0.9);

  &.--italic {
    font-style: italic;
  }

  &.--bold {
    @include font-text(6, $fw-bold, 0.9);
  }

  &.--justify {
    text-align: justify;
    hyphens: auto;
  }

  &.--uppercase {
    text-transform: uppercase;
  }

}

/*** DCI CUSTOM TEXTS ***/
.quiz-text-xl {
  color: $quiz-dark-black;
  font-family: $font-family-text;

  @include font-text(7, $fw-light, 1.5);

  &.--italic {
    font-style: italic;
  }

  &.--bold {
    @include font-text(7, $fw-bold, 1.5);
  }

  &.--justify {
    text-align: justify;
    hyphens: auto;
  }

  &.--uppercase {
    text-transform: uppercase;
  }

}

.quiz-text-md {
  margin-top: 0;
  padding-top: 0;
  color: $quiz-dark-black;
  font-family: $font-family-text;

  @include font-text(9, $fw-light, 1.5);

  &.--italic {
    font-style: italic;
  }

  &.--bold {
    @include font-text(9, $fw-bold, 1.5);
  }

  &.--justify {
    text-align: justify;
    hyphens: auto;
  }

  &.--uppercase {
    text-transform: uppercase;
  }

}

.quiz-text-sm {
  margin-top: 0;
  padding-top: 0;
  color: $quiz-dark-black;
  /******************************************
    Générer une class avec une line-height fixe
    format: quiz-text-sm
    Possible ajout du 'modifier' : quiz-text-sm--italic / quiz-text-sm--bold
  ********************************************/
  font-family: $font-family-text;

  @include font-text(10, $fw-light, 1.3);

  &.--italic {
    font-style: italic;
  }

  &.--bold {
    @include font-text(10, $fw-bold, 1.3);
  }

  &.--justify {
    text-align: justify;
    hyphens: auto;
  }

  &.--uppercase {
    text-transform: uppercase;
  }

}

.quiz-text-xs {
  margin-top: 0;
  padding-top: 0;
  color: $quiz-dark-black;
  /******************************************
    Générer une class avec une line-height fixe
    format: quiz-text-sm
    Possible ajout du 'modifier' : quiz-text-sm--italic / quiz-text-sm--bold
  ********************************************/
  font-family: $font-family-text;

  @include font-text(11, $fw-light, 1.3);

  &.--italic {
    font-style: italic;
  }

  &.--bold {
    @include font-text(11, $fw-bold, 1.3);
  }

  &.--justify {
    text-align: justify;
    hyphens: auto;
  }

  &.--uppercase {
    text-transform: uppercase;
  }
}

/*** DCI CUSTOM LISTS AND LINKS ***/
ul,
ol,
li {
  font-family: $font-family-text;
  line-height: 1.5;
}


/* Dci links */
.js-header-link.active-link {
  text-decoration: underline;
  background-color: green;
}

a {
  cursor: pointer;

  &.quiz-text-link {
    @include font-text(3, $fw-bold, 1.3);
    text-underline-offset: 8px;


    @include media-breakpoint-up(lg) {
      @include font-text(11, $fw-light, 1);
      opacity: 1;
      text-transform: uppercase;
      color: $quiz-dark-black;

      &.contact-link {
        color: $quiz-neutral-bg;
      }
    }

    /* Dci Links States */
    &:link {
      opacity: 0.6;
      color: $quiz-dark-black;

      @include media-breakpoint-up(lg) {
        opacity: 1;

        &.contact-link {
          color: $quiz-neutral-bg;
        }
      }
    }


    &:visited {
      opacity: 1;
      color: $quiz-dark-black;
      text-decoration: underline;

      @include media-breakpoint-up(lg) {
        &.contact-link {
          color: $quiz-neutral-bg;
        }
      }
    }

    &:hover {
      opacity: 1;
      text-decoration: underline;

      @include media-breakpoint-up(lg) {

        &.contact-link {
          color: $quiz-neutral-bg;
        }
      }
    }

    &:focus,
    &:active {
      opacity: 1;
      color: $quiz-dark-black;
      text-decoration: underline;
      outline: none;

      @include media-breakpoint-up(lg) {
        &.contact-link {
          color: $quiz-neutral-bg;
        }
      }
    }
  }
}
