.quiz-score-card {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 2.4rem;
  border-radius: 2.4rem;
  background-color: var(--element-button-quiz);
  box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;

  &__header {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__header-icon {
    width: 2.8rem;
    height: 2.8rem;
    object-fit: contain;
  }

  &__header-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--element-text-dark);
  }

  &__score-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }

  &__score-value {
    font-size: clamp(100px, 20vw, 144px);
    font-weight: 700;
    color: var(--blue-900);
  }
}
