$icomoon-font-family: "icomoon" !default;
// Resolved from global styles entry (src/scss/styles.scss) by the Angular bundler.
$icomoon-font-path: "./fonts/icomoon/fonts" !default;

$icon-h5-logo-glanum: "\e900";

