.register-form {
  margin: 3rem auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: var(--element-text-dark);
    text-align: center;
    margin-bottom: 2rem;
  }

  .register-submit-error {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem 1.2rem;
    font-size: 1.3rem;
    line-height: 1.4;
    text-align: left;
    color: var(--element-error);
    border: 1px solid var(--element-error);
    border-radius: 0.4rem;
    background-color: var(--element-error-background);
  }

  background-color: var(--color-account-background);
  padding: 3rem 6rem;
  border-radius: 0.5rem;
  border: 1px solid var(--element-primary);

  .form-field {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.already-registered {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  color: var(--element-text-dark);

  a:hover, a:visited {
    color: currentColor;

  }
}
