<div class="quiz-host page">
  @if (currentStatus) {
    <h2>
      {{
        'hostQuizPage.hostingTitle'
          | translate: { title: quiz?.title ?? 'Quiz' }
      }}
    </h2>
  } @else {
    <h2>{{ 'hostQuizPage.noQuizHosted' | translate }}</h2>
  }

  <div class="quiz-host__text-wrapper">
    @if (currentStatus) {
      <div class="text-wrapper__share">
        {{ 'hostQuizPage.shareCode' | translate }}
        <em>{{ id }}</em>
      </div>
    } @else {
      <div class="text-wrapper__share">
        {{ 'hostQuizPage.codeMissingHint' | translate: { code: id } }}
      </div>
    }

    <div class="text-wrapper__status">
      @if (currentStatus) {
        <div>
          {{ 'hostQuizPage.statusLabel' | translate }}
          <span [ngClass]="currentStatus.status">{{ currentStatus.status }}</span>
        </div>
        <div>
          {{ 'hostQuizPage.participantsLabel' | translate }}
          <span>{{ currentStatus.participants }}</span>
        </div>
      } @else {
        <div class="alert">{{ 'hostQuizPage.statusUnknown' | translate }}</div>
      }
    </div>
  </div>

  @if (currentStatus) {
    @if (showAdvanceButton()) {
      <div class="quiz-host-start">
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="nextQuestion()"
        >
          {{ advanceButtonKey() | translate }}
        </button>
      </div>
    } @else if (isHostQuizCompleted()) {
      <div class="quiz-host-start quiz-host-start--done">
        <p>{{ 'hostQuizPage.completed' | translate }}</p>
        <a routerLink="/" mat-raised-button color="primary">{{
          'hostQuizPage.backHome' | translate
        }}</a>
      </div>
    }
  } @else {
    <div class="quiz-host-start">
      <a routerLink="/" mat-raised-button color="primary" title="Go home">{{
        'hostQuizPage.backHome' | translate
      }}</a>
    </div>
  }
</div>
